:root {
  --font-colour: #D40000;
  --bg-colour: #F2F2F2;
  --logo: url(https://raw.githubusercontent.com/mcanouil/hex-stickers/main/SVG/rlille.svg);
}

.title-slide .slide-url a {
  color: var(--font-colour);
}
.title-slide .slide-url a:hover {
  color: var(--font-colour);
}

#picture {
  border-color: var(--font-colour);
}

.title-slide {
  background-color: var(--bg-colour);
  border-top: 0px solid var(--bg-colour);
}

.title-slide h1  {
  color: var(--font-colour);
}

.title-slide h2  {
  color: var(--font-colour);
}

hr, .title-slide h2::after, .mline h1::after {
  background-color: var(--font-colour);
  color: var(--font-colour);
}

.hljs-github .hljs {
  background: #FAE7E7;
}

.remark-inline-code {
  background: #FAE7E7;
}

.title-slide a:hover {
  color: var(--font-colour) !important;
}

.part-slide {
  color: var(--font-colour);
  background-color: var(--bg-colour);
}

.part-slide h1 {
  color: var(--font-colour);
  background-color: var(--bg-colour);
}

.part-slide a {
  color: var(--font-colour);
}

.part-slide a:hover {
  color: var(--font-colour) !important;
}

.part-slide h1 .remark-inline-code {
  background: var(--font-colour);
  color: var(--bg-colour);
}

h1 .remark-inline-code {
  background: var(--bg-colour);
  color: var(--font-colour);
}
